<h1>
  {{title}}
</h1>

<form (ngSubmit)="processForm()" [formGroup]="teacherForm">

  <div style="margin-left: 2vw;" class="form-group">
    <label>Teacher ID Number</label>
    <input style="width: 40vw" type="number" class="form-control" name="teacherID" required formControlName="teacherID">
  </div>

  <div style="margin-left: 2vw;" class="form-group">
      <label>Teacher Name</label>
        <input style="width: 40vw" type="text" class="form-control" name="teacherName" required formControlName="teacherName">
  </div>

  <div style="margin-left: 2vw;" class="form-group">
        <label>School</label>
          <input style="width: 40vw" type="text" class="form-control" name="school" required formControlName="school">
  </div>



  <div class="form-group">
    <div formArrayName="students">
            <div *ngFor="let student of teacherForm.controls.students.controls; let i=index" class="panel panel-default">
              <div class="panel-heading">
                <span>Student {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="teacherForm.controls.students.controls.length > 1" (click)="removeStudent(i)"></span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <student [group]="teacherForm.controls.students.controls[i]"></student>
              </div>
            </div>
          </div>

          <div class="margin-20">
            <a (click)="addStudent()" style="cursor: default">
              Add another student +
            </a>
          </div>

    <!-- <label for="username">Students</label>
    <input type="text" class="form-control" name="students" require formControlName="students"> -->
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-danger">Submit</button>
  </div>

</form>
