<div [formGroup]="studentForm">
    <div class="form-group">
        <label>Student Name</label>
        <input type="text" class="form-control" formControlName="name">
        <small [hidden]="studentForm.controls.name.valid" class="text-danger">
            First and Last Name Required
        </small>
    </div>
    <div class="form-group">
        <label>Student ID Number</label>
        <input type="text" class="form-control" formControlName="studentID">
    </div>
    <div class="form-group">
        <label>Best Friend</label>
        <input type="text" class="form-control" formControlName="bestFriend">
    </div>
    <div class="form-group">
        <label>Favorite Subject</label>
        <input type="text" class="form-control" formControlName="favoriteSubject">
    </div>
</div>
