<div [formGroup]="studentForm">
  <div class="form-group">
      <label hidden >Teacher ID Number</label>
      <input type="hidden" value="{{teacher}}" formControlName="teacherID" hidden class="form-control">
  </div>
    <div class="form-group">
        <label>Student Name</label>
        <input type="text" class="form-control" formControlName="name">
        <small [hidden]="studentForm.controls.name.valid" class="text-danger">
            First and Last Name Required
        </small>
    </div>
    <div class="form-group">
        <label>Number of Friends</label>
        <input type="number" class="form-control" formControlName="numFriends">
    </div>
</div>
